*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    width: 100px;
    height: 40px;
    margin-left: 46%;
    margin-top:22%;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    color: white;
    background-color: violet;
    outline: none;
}
button:hover{
    background-color: black;
}
@media screen and (max-width:768px){
    button{
        margin-top: 250px;
    }
}
@media screen and (max-width:425px){
    button{
        margin-left: 160px;
    }

}
@media screen and (max-width:375px){
    button{
        margin-left: 140px;
    }
}
@media screen and (max-width:320px){
    button{
        margin-left: 110px;
    }
}